
    
<div class="page-content">
        <h2 class="page-title"> Alumni Association</h2>
        <article>
            <p class="page-article">The Brandeis Alumni Association is a vibrant community that offers lifelong opportunities for alumni to stay connected to Brandeis and each other.</p> 
            <p class="page_article">If you received a degree from Brandeis, you are automatically a member of the Alumni Association.</p>
        </article>
        <h2 class="page-title"> Benefits and Services</h2>
        <article>
            <p class="page-article">The Alumni Association provides alumni with valuable benefits and services designed to meet your needs no matter your age, profession or level of affiliation. The Alumni Association plans more than 150 events each year; provides discounts on insurance, tickets and travel; and offers free career services for life.</p> 
        </article>
</div>

