    
<div class="page-content">
        <h2 class="page-title"> Follow Us on Social Media </h2>
        <article>
           <p> The Brandeis Alumni Association is dedicated to keeping the Brandeis community connected and engaged with one another. One of the primary ways we achieve this is through various forms of contact, whether it be through social media, email, phone, or in-person events.</p>
           <p> Maintaining contact with our alumni is essential because it allows us to keep everyone informed about news, events, and opportunities to stay involved with Brandeis. By staying in touch, we can also provide valuable resources to alumni, such as career networking opportunities, professional development events, and mentorship programs.</p>
        </article>
        <article>
        <h4> You Can Reach Us at the Following Platforms!</h4>
        <p> Instagram:   Brandeis_Alumni_Association</p>
        <p> Telephone Number:   +1 6157893235</p>
        <p> Email:   Alumni@brandeis.edu </p>
        </article>
</div>
