   
<div class="page-content">
        <h1> MONDAY MAR 27 </h1>
        <article>
            <p>Alumni Talk on Career Fair Preparation</p>
            <p>Speaker</p> 
            <p> Jack Johnson</p>
            <p> At Student Center 1st Floor </p> 
        </article>
        <h1> FRIDAY MAR 31 </h1>
        <article>
            <p>Spring Dance Party</p>
            <p>Food and Drinks Will Be Provided</p> 
            <p> Bring Your Friends Too!</p>
            <p> At Student Center Ball Room </p> 
        </article> 
</div>

