
<div class="page-content">
        <h2 class="page-title"> Join Us for This Great Opportunity to Learn and Communicate!</h2>
        <article>
            <p style="text-align:left;"> We have invited several esteemed alumni of the CS master's program to share their perspectives on launching a career, navigating the job search process and best interviewing practices.</p>
            <p style="text-align:left;">You will learn about their companies, their industries, and their journeys from Brandeis to successful careers.This is your opportunity to get advice from Brandeisians who have traveled the same road you are on now. So mark your calendars!</p>
            <p style="text-align:left;"> Graduate Program Alumni Panel:
            Samuel Akerman, Software Developer, Martingale Investment Assets;
            William Edgecomb, Senior Security Software Engineer, Netflix;
            Belle Scott, Software Engineer, Red Canary;
            Additional Alumni to be announced. </p> 
        </article>
</div>