<div class="left-picture">
    <!-- <img src="images/poster.jpeg"> -->
</div>
    
<div class="page-content">
        <h1> Available Job 1 </h1>
        <article>
           <p> Software Development Engineer Intern</p>
           <p> Qualification</p>
           <p> Assoicate, Bachelor or Master Degree </p>
           <p> Skills on JavaScript, HTML, CSS </p>
        </article>
        <h1> Available Job 2 </h1>
        <article>
           <p> Accountant</p>
           <p> Qualification</p>
           <p> Assoicate, Bachelor or Master Degree </p>
           <p> One Year Experience in Accounting </p>
        </article>
</div>