<div class="left-picture">
</div> 
<div class="page-content">
        <h2 class="page-title"> We Need More Volunteers! <h2>
        <article>
            <h4 class="page-article"> Position 1:</h4>
            <p class="page-article"> Language Teachers </p>
            <p class="page-article"> If you are passionate about teaching English to the Second Language Learners</p>
            <p class="page-article"> Every Saturday Morning 10am - 11:00am </p> 
        </article>
        <article>
            <h4 class="page-article"> Position 2:</h4>
            <p class="page-article"> Food Distributers </p>
            <p class="page-article"> If you can lift 50 pounds and healthy</p>
            <p class="page-article"> Every Sunday Afternoon 5pm - 7pm </p> 
        </article>
</div>